@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

h1 h2 h3 h4 h5 h6{
    font-family: 'Source Sans 3';
    font-weight: bold;
}

.logo-header{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}


.logo-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.info-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

 .heading-1{
    position: relative;
    margin-right: 300px;
    margin-top: 5px;
}

.heading-1 h1{
    font-size: 32px;
    font-weight: bold;
}

.info-section h1{
    font-size: 32px;
    font-weight: 700;
    margin-top: 10px;
}

.info-section .sub-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-group{
    display: flex;
    margin-left: 5px;
    gap: 5px;
}

.img-group .live-chat{
    cursor: pointer;
    height: 30px;
    margin-top: 5px;
}

.img-group .social-icons{
    cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .logo-header{
        width: 100%;
        padding: 0;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .info-section{
        display: flex;
    }

    .info-section .sub-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .heading-1{
        position: relative;
        margin-right: 150px;
        margin-top: 5px;
    }

    .heading-1 h1{
        font-size: 18px;
        margin-top: 5px;
    }

    .info-section h1{
        font-size: 18px;
    }
}

@media screen and (max-width: 767px){
    .logo-header{
        width: 100%;
        padding-right: 10px;
    }

    .honda-logo{
        margin-left: 30px;
        width: 80px;
    }

    .info-section{
        display: block;
    }

    .img-group{
        margin-left: 10px;
    }

    .img-group .live-chat{
        cursor: pointer;
        height: 20px;
        margin-top: 5px;
    }
    
    .img-group .social-icons{
        height: 30px;
        cursor: pointer;
    }

    .heading-1{
        position: absolute;
        top: 1.5%;
        left: 44%;
        margin: 0;
    }

    .heading-1 h1{
        font-size: 20px;
    }

    .info-section h1{
        font-size: 20px;
        font-weight: 500;
    }

    .info-section .sub-info{
        display: block;
        justify-content: center;
        align-items: center;
    }
}

.navbar-container{
    background: #333333;
    width: 100%;
}

.navbar .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
    list-style: none;
    margin-top: 15px;
}

.nav-links .nav-item{
    margin-left: 35px;
    margin-top: 15px;
}

.nav-items a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

.burger-menu{
    display: none;
}

.burger-line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .burger-menu{
        display: block;
        position: absolute;
        width: 100%;
        left: 90%;
    }

    .nav-items{
        display: none;
        flex-direction: column;
        background-color: #333333;
        position: absolute;
        top: 32px;
        left: 0;
        width: 100%;
        padding: 10px;
    }

    .nav-items.active{
        display: flex;
        transition: display 0.3s ease-in-out;
    }

    .nav-item{
        margin: 10px 0;
    }
}

@media screen and (max-width: 767px){
    .burger-menu{
        display: block;
        position: absolute;
        width: 100%;
        left: 85%;
    }

    .nav-items{
        display: none;
        flex-direction: column;
        background-color: #333333;
        position: absolute;
        top: 32px;
        left: 0;
        width: 100%;
        padding: 10px;
    }

    .nav-items.active{
        display: flex;
        transition: display 0.3s ease-in-out;
    }

    .nav-item{
        margin: 10px 0;
    }
}

.banner-container{
    background: white;
}

.banner-container img{
    width: 100%;
    height: auto;
}

.banner-section{
    position: absolute;
    top: 170px;
    left: 80px;
    display: flex;
}


.header h2{
    margin-top: 20px;
    font-size: 65px;
    letter-spacing: -3px;
}

.header span{
    font-size: 90px;
}

.header p{
    font-size: 18px;
    font-weight: 200;
    line-height: 10px;
    margin-top: -5px;
    margin-left: 2px;
    letter-spacing: 2px;
}

.header .cta-heading{
    width: 250px;
    padding: 15px;
    margin-top: 5px;
    font-size: 20px;
    background-color: #017cc2;
    color: white;
    border-radius: 5px;
    border: none;
    text-align: center;
}

.family{
    margin-left: 200px;
    align-items: center;
    z-index: 1;
    margin-top: 15px;
}

.family img{
    width: 600px;
    height: auto;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .family{
        display: none;
    }

    .banner-container{
        background-image: url("assets/Car.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 2%;
        height: 350px;
        margin: 0;
    }

    .banner-container img{
        display: none;
    }

    .banner-section{
        position: inherit;
        justify-content: center;
    }
    .header{
        padding-bottom: 15px;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
    }

    .header h2{
        font-size: 65px;
        text-align: center;
    }

    .header span{
        font-size: 60px;
    }

    .header p{
        font-size: 24px;
        font-weight: 200;
        line-height: 20px;
        letter-spacing: 0;
        text-align: center;
    }

    .header .cta-heading{
        width: 250px;
        padding: 10px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 767px){
    .family{
        display: none;
    }

    .banner-container{
        background-image: url("assets/Car.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 23.5%;
        height: 350px;
        margin: 0;
    }

    .banner-container img{
        display: none;
    }

    .banner-section{
        position: inherit;
        justify-content: center;
    }

    .header{
        padding-bottom: 15px;
        justify-content: center;
        text-align: center;
    }

    .header h2{
        font-size: 40px;
        text-align: center;
    }

    .header span{
        font-size: 40px;
    }

    .header p{
        font-size: 18px;
        font-weight: 200;
        line-height: 20px;
        letter-spacing: 0;
        text-align: center;
    }

    .header .cta-heading{
        width: 250px;
        padding: 10px;
        margin-top: 0;
    }
}

.main-section{
    background: #eeeeee;
    padding: 50px;
}

.cta-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

.cta-btn-container .cta-main-btn{
    background: #017cc2;
    border: none;
    color: white;
    padding: 20px;
    text-transform: capitalize;
    width: 250px;
    border-radius: 5px;
    font-weight: 700;
}


.car-section{
    background: #ffff;
    margin-left: 170px;
    max-width: 1080px;
    height: auto;
    padding-right: 20px;
}

.links-section{
    margin-left: 35px;
    padding-top: 20px;
    margin-bottom: 15px;
}

.link-items{
    list-style: none;
    margin-left: -30px;
}

.links-section h3{
    font-size: 20px;
}

.link-items{
    font-weight: 100;
    font-size: 14px;
    color: gray;
}

.offer-section{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-top: 5px;
    gap: 5px;
}

.offer-section h4{
    font-size: 20px;
    padding-top: 12px;
    font-weight: 700;
}

.offer-section span{
    font-size: 12px;
    margin: 9px;
    font-weight: 100;
}

.cars-section{
    padding-top: 40px;
    display: flex;
    gap: 50px;
    padding-bottom: 30px;
}

.cars-section img{ 
    width: 200px;
    height: auto;
}

.cars-section h5{
    font-size: 13px;
    margin-top: 20px;
}

.cars-section p{
    font-size: 12px;
    font-weight: 100;
    color: gray;
    line-height: 0;
}

.cars-section a{
    font-size: 14px;
    text-decoration: none;
    color: gray;
    font-weight: 100;
}

.cars-section .link{
    line-height: 0.5;
}

.offer-heading{
    display: flex;
    align-items: center;
}

.offer-heading span{
    margin-top: 15px;
}   

@media screen and (min-width: 768px) and (max-width: 1024px){
    .cta-btn-container{
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .cta-btn-container .cta-main-btn{
        margin-bottom: 10px;
        width: 100%;
    }

    .car-section{
        max-width: 100%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .links-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
        padding-top: 30px;
    }

    .link-items .link-item{
        margin-bottom: 10px;
    }

    .offer-section{
        display: block;
        justify-content: center;
        margin-left: 10px;
    }

    .offer-heading{
        display: block;
        line-height: 1px;
        text-align: center;
    }

    .cars-section{
        display: flex;
        flex-direction: column;
    }

    .content-container.row{
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 767px){
    .cta-btn-container{
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .cta-btn-container .cta-main-btn{
        margin-bottom: 10px;
        width: 100%;
    }

    .car-section{
        max-width: 100%;
        margin-left: 0;
        display: block;
        justify-content: center;
        text-align: center;
    }

    .links-section{
        margin-left: 15px;
        margin-top: 5px;
    }

    .link-items{
        margin-top: 15px;
    }

    .link-items .link-item{
        margin-bottom: 10px;
    }

    .offer-section{
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }

    .offer-heading{
        display: block;
        line-height: 1px;
        text-align: center;
    }

    .cars-section{
        display: block;
    }
}

.promotion-section{
    background: #333333;
    width: 100%;
}

.promo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 45px;
    gap: 20px;

}

.promo-container .promo-1 img{
    width: 650px;
    height: auto;
}

.promo-2{
    background: #0066a0;
    width: 650px;
    height: auto;
    padding: 25px;
}

.promo-2-container{
    background: #017cc2;
    padding: 30px;
    color: white;
}

.promo-2-container h5{
    font-size: 26px;
    font-weight: 700;
}

.promo-2-container .promo-sentence{
    font-size: 22px;
}

.promo-2-container h1{
    font-size: 50px;
    font-weight: 700;
    margin-top: 15px;
}

.footnote{
    margin-top: 60px;
    line-height: 5px;
    padding-left: -10px;
    font-size: 14px;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .promotion-section{
        width: 100%;
    }

    .promo-container{
        display: block;
        justify-content: center;
        align-items: center;
    }

    .promo-container .promo-1 img{
        width: 100%;
    }

    .promo-2{
        width: 100%;
        padding: 10px;
        height: auto;
        margin-top: 20px;
    }
}

@media screen and (max-width: 767px){
    .promotion-section{
        width: 100%;
    }
    .promo-container{
        display: block;
        justify-content: center;
        align-items: center;
    }

    .promo-container .promo-1 img{
        width: 100%;
    }

    .promo-2{
        width: 100%;
        padding: 10px;
        height: auto;
        margin-top: 20px;
    }

    .promo-2-container{
        padding: 15px;
        margin-top: 5px;
    }

    .promo-2-container h5{
        font-size: 22px;
    }

    .promo-2-container .promo-sentence{
        font-size: 18px;
    }

    .promo-2-container h1{
        font-size: 35px;
    }
    .footnote{
        line-height: 10px;
        font-size: 12px;
        margin-top: 20px;
    }
}

.footer-main{
    background: white;
    padding: 10px;
    width: 100%;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.footer-content .footer-links{
    margin-top: 20px;
    color: gray;
}

.footer-links a{
    text-decoration: none;
    color: gray;
}

.footer-subcontent{
    background: #017cc2;
    width: 100%;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-subcontent a{
    margin: 10px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 767px){
    .footer-content{
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .footer-content .footer-links{
        text-align: center;
        padding: 10px;
    }

    .footer-subcontent p{
        margin: 10px;
        padding-left: 25px;
        letter-spacing: 2.5px;
        font-size: 12px;
        font-weight: 400;
    }
}